{% extends "layout.html" %}
{% block title %}
관리자 화면입니다
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  <ul class="messages">
  {% if users %}
    {% for user in users%}
      <li>
        <img src="{{ user.email|gravatar(size=48) }}">
        {{ user.user_id }}
        <strong><a href="{{ url_for('user_timeline', username=user.username)}}">{{ user.username }}</a></strong>
        {{ user.email }}
        <strong><a href="{{ url_for('remove_user', username=user.username)}}">삭제</a></strong>
      </li>
    <!--{% else %}
      <li><em>자기 자신도 지웠습니다.</em></li>-->
    {% endfor %}
  {% else %}
    <li>자기 자신도 지웠습니다.</li>
  {% endif %}
  </ul>
{% endblock %}
